<div class="container mt-2 ">
    <div><strong class="circle"> </strong></div>
    <div><strong class="circle2"> </strong></div>
    <div><strong class="circle3"> </strong></div>

      <div class="row"> 
    <div class="card ">
        <div class="s2"><mat-icon>trending_flat</mat-icon><a href="">previos step</a></div>
       <div class="form-card"> 
        <div class="card-body">
          <h1 class="card-title">Your Payment Datail</h1>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>CARDHOLDER NAME</mat-label>
              <input matInput placeholder="Ex. Pizza" value="GAURAV Patel">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>CAED NUMBER</mat-label>
                <input matInput placeholder="Ex. Pizza" value="4214   5545   7414   2142">
              </mat-form-field>
              <mat-form-field  class="date"> 
                <mat-label>EXPIRATION DATE</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="cvv">
                <mat-label>CVV</mat-label>
                <input matInput placeholder="Ex. Pizza" value="...">
              </mat-form-field>
              <mat-checkbox class="check">save my details for future payments</mat-checkbox>

              
          </form>
          
          <button class="submit">pay now</button>
        </div>
     </div>
      </div>
      <div class="credit-card-wrap ">
        <div class="mk-icon-world-map "></div>
        <div class="credit-card-inner ">
            <div class="pull-right ">
                <div class="mk-icon-visa mb-2">
                    <img src="../assets/images/image.jpg " alt="icon-visa " />
                </div>
            </div>

            <div class="mk-icon-sim "></div>
            <div class="credit-font credit-card-number " data-text=" ">.... .... .... .... </div>
            <div>19/20</div>

        </div>
    </div>
    </div> 
     
</div>
