                    .example-form {
                        min-width: 60%;
                        max-width: 40%;
                        background: #fff;
                        float: right;
                        margin-top: 8%;
                    }
                    
                    
                    
                    .container {
                        background-image: linear-gradient(to right, #2977b6, rgb(63, 212, 218));
                        width: 100%;
                        height: 100vh;
                        text-align: center;
                        text-decoration: none;
                    }
                    
                    .visa {
                        width: 80%;
                        height: 70%;
                        float: right;
                        margin-top: 10%;
                        background: linear-gradient(110deg, #125891 35%, #ffffff 35%, #ffff 37%, #ffff 37%, #ffff 0) 0 0/100% calc(100% - 10px) no-repeat,
                         linear-gradient(110deg, #ffffff 5%, transparent 0) 0 100%/100% 100% no-repeat;
                    }
                    
                    h2 {
                        font-size: 35px;
                    }
                    
                    .circle {
                        width: 30%;
                        height: 30%;
                        position: relative;
                        background: rgb(63, 212, 218);
                    }
                    
                    .credit-card-wrap {
                        top: 50%;
                        right: 45%;
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        border-radius: 20px;
                        background-image: linear-gradient(to right, rgb(63, 212, 218), #1d73b9);
                        box-shadow: 5px 4px 4px #125891
                    }
                    
                    .credit-card-wrap .credit-card-inner {
                        z-index: 100;
                        padding: 30px;
                        width: inherit;
                        height: inherit;
                        position: relative;
                    }
                    
                    .credit-card-wrap .credit-font {
                        color: #fff;
                        font-size: 27px;
                    }
                    
                    .credit-card-wrap .credit-card-number {
                        font-size: 35px;
                        text-align: center;
                        position: relative;
                        letter-spacing: 4px;
                        margin-bottom: 20px;
                        white-space: nowrap;
                    }
                    
                    .credit-card-wrap .credit-card-date .title {
                        width: 50px;
                        color: #deb887;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: right;
                        display: inline-block;
                        text-transform: uppercase;
                    }
                    
                    .credit-card-wrap .mk-icon-sim {
                        width: 55px;
                        height: 40px;
                        margin: 20px 0;
                        border-radius: 8px;
                        background-color: #fdd76f;
                    }
                    
                    .credit-card-wrap .mk-icon-visa {
                        width: 90px;
                        height: 45px;
                        bottom: -10px;
                        position: relative;
                    }
                    
                    .credit-card-wrap .footer .pull-left {
                        width: 70%;
                    }
                    
                    img {
                        width: 47%;
                        height: 50%;
                    }
                    
                    .mk-icon-visa {
                        margin-right: 60%;
                    }
                    
                    button {
                        background-color: #125891;
                        border: none;
                        color: white;
                        padding: 13px 132px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 30px;
                        margin-top: 40%;
                        box-shadow: 4px 2px 2px #125891
                    }
                    
                    .example-full-width {
                        padding: 15px;
                    }
                    
                    .lett {
                        letter-spacing: 6px;
                    }
                    
                    .dot {
                        margin-right: 30px;
                        margin-top: 4%;
                        height: 70x;
                        width: 70px;
                        border: 5px solid #fff;
                        background-color: lightblue;
                        display: inline-block;
                    }