<div class="container mt-5">
    <div><strong class="circle mt-5">fffff</strong></div>

    <div class="visa">
        <form class="example-form">
            <h2>Your payment Detail</h2>
            <mat-form-field class="example-full-width">
                <mat-label>CARDHOLDER NAME</mat-label>
                <input matInput placeholder="Ex. Pizza" value="GAURAV PATEL">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>CARD NUMBER</mat-label>
                <input matInput placeholder="" class="lett" value="4214   5545   7414    2142">
            </mat-form-field>
            <div class="example-container ">
                <mat-form-field appearance="fill " class="mr-5 ">
                    <mat-label>EXPIRATION DATE</mat-label>
                    <mat-select>
                        <mat-option value="option ">19/20</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field hintLabel=" " appearance="fill ">
                    <mat-label>CVV</mat-label>
                    <input matInput #input maxlength="15 " placeholder="... ">

                </mat-form-field>

            </div>

            <button class="submit ">pay now</button>

        </form>
    </div>
    <div class="credit-card-wrap ">
        <div class="mk-icon-world-map "></div>
        <div class="credit-card-inner ">
            <div class="pull-right ">
                <div class="mk-icon-visa ">
                    <img src="../assets/images/image.jpg " alt="icon-visa " />
                </div>
            </div>

            <div class="mk-icon-sim "></div>
            <div class="credit-font credit-card-number " data-text=" ">.... .... .... .... </div>
            <div>19/20</div>

        </div>
    </div>
    <div><strong class="top">fffffssssssss</strong></div>

</div>